body {
  font-family: monospace;
  font-size: 1rem;
}

#chart {
  margin: auto;
  width: 750px;
  height: 750px;
}

#controlPanel {
  margin: auto;
  width: 750px;
}

#controlPanel button {
  font-family: monospace;
}

#addForm {
  margin: auto;
  width: 750px;
  margin-top: 5px;
}

#addForm input {
  font-family: monospace;
}

#addForm select {
  font-family: monospace;
}

#addForm button {
  font-family: monospace;
}

#list {
  margin: auto;
  width: 750px;
  margin-top: 15px;
  list-style: none;
  padding-left: 0;
  white-space: pre;
}

#list li {
  margin-bottom: 5px;
}

#list button {
  font-family: monospace;
  margin-left: 10px;
}
