body {
  width: 750px;
  margin: auto;
}

legend {
  font-family: monospace;
  font-weight: bold;
}

fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input {
   display: none;
}

button {
  font-family: monospace;
  margin-right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 8px;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #d7d7db;
}

button:active {
  background-color: #d7d7db;
}
