<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <title>SomatoChart</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  </head>
  <body>
    <div id="chart"></div>
    <div id="controlPanel">
      <button id="downloadBtn">Download</button>
      <button id="clearBtn">Clear</button>
    </div>

    <form id="addForm">
      <input
        type="text"
        name="name"
        maxlength="20"
        placeholder="NAME"
        autocomplete="off"
        required
      />
      <input
        type="number"
        name="endo"
        min="1"
        max="7"
        step="0.01"
        placeholder="ENDO"
        required
      />
      <input
        type="number"
        name="meso"
        min="1"
        max="7"
        step="0.01"
        placeholder="MESO"
        required
      />
      <input
        type="number"
        name="ecto"
        min="1"
        max="7"
        step="0.01"
        placeholder="ECTO"
        required
      />
      <select title="Choose point color" name="color">
        <option type="text" value="blue">Blue</option>
        <option type="text" value="green">Green</option>
        <option type="text" value="red">Red</option>
      </select>
      <select title="Choose point symbol" name="symbol">
        <option type="text" value="circle">Circle</option>
        <option type="text" value="square">Square</option>
        <option type="text" value="triangle">Triangle</option>
      </select>
      <select title="Choose point visibility" name="isVisible">
        <option type="text" value="true">Visible</option>
        <option type="text" value="false">Non-Visible</option>
      </select>
      <button type="submit">Add</button>
    </form>

    <ul id="list"></ul>
    <!--
    <form id="updateForm">
      <input
        type="text"
        name="id"
        placeholder="ID"
        autocomplete="off"
        required
      />
      <input
        type="text"
        name="name"
        placeholder="NAME"
        autocomplete="off"
        required
      />
      <input
        type="number"
        name="endo"
        min="1"
        max="7"
        step="0.01"
        placeholder="ENDO"
        required
      />
      <input
        type="number"
        name="meso"
        min="1"
        max="7"
        step="0.01"
        placeholder="MESO"
        required
      />
      <input
        type="number"
        name="ecto"
        min="1"
        max="7"
        step="0.01"
        placeholder="ECTO"
        required
      />
      <select title="Choose point color" name="color">
        <option type="text" value="blue">Blue</option>
        <option type="text" value="green">Green</option>
        <option type="text" value="red">Red</option>
      </select>
      <select title="Choose point symbol" name="symbol">
        <option type="text" value="circle">Circle</option>
        <option type="text" value="square">Square</option>
        <option type="text" value="triangle">Triangle</option>
      </select>
      <select title="Choose point visibility" name="isVisible">
        <option type="text" value="true">Visible</option>
        <option type="text" value="false">Non-Visible</option>
      </select>
      <button type="submit">Update</button>
    </form> -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
