<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg"
      href="{{ url_for('static', filename='images/favicon.svg') }}"
    />
    <title>SomatoChart</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  </head>
  <body>
    <div id="chart"></div>
    <fieldset>
      <legend>Add athletes from CSV file</legend>
      <input id="csvFile" type="file" accept=".csv" />
      <button id="importBtn">Import</button>
    </fieldset>
    <fieldset>
      <legend>Chart options</legend>
      <button id="exportBtn">Export</button>
      <button id="clearBtn">Clear</button>
    </fieldset>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
