<mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="athletes$()">
      <ng-container matColumnDef="col-name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="col-endo">
        <th mat-header-cell *matHeaderCellDef>Endomorphy</th>
        <td mat-cell *matCellDef="let element">{{ element.endo }}</td>
      </ng-container>
      <ng-container matColumnDef="col-mezo">
        <th mat-header-cell *matHeaderCellDef>Mezomorphy</th>
        <td mat-cell *matCellDef="let element">{{ element.mezo }}</td>
      </ng-container>
      <ng-container matColumnDef="col-ecto">
        <th mat-header-cell *matHeaderCellDef>Ectomorphy</th>
        <td mat-cell *matCellDef="let element">{{ element.ecto }}</td>
      </ng-container>
      <ng-container matColumnDef="col-action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button [routerLink]="['edit/', element._id]">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button mat-raised-button (click)="deleteAthlete(element._id || '')">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['new']">Add a New Athlete</button>
    <button mat-raised-button [routerLink]="['chart']">Display Chart</button>
  </mat-card-actions>
</mat-card>
