<form
  class="athlete-form"
  autocomplete="off"
  [formGroup]="athleteForm"
  (submit)="submitForm()"
>
  <button mat-icon-button type="button" (click)="toggleVisibility()">
    <mat-icon>{{ isVisible.value ? "visibility" : "visibility_off" }}</mat-icon>
  </button>
  <br />
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" required />
    @if (name.invalid) {
    <mat-error>Name is required.</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Endomorphy</mat-label>
    <input
      matInput
      placeholder="Endomorphy"
      formControlName="endo"
      type="number"
      min="0"
      max="8"
      step="0.01"
      required
    />
    @if (endo.invalid) {
    <mat-error>Endomorphy must be in range from 0 to 8.</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mezomorphy</mat-label>
    <input
      matInput
      placeholder="Mezomorphy"
      formControlName="mezo"
      type="number"
      min="0"
      max="8"
      step="0.01"
      required
    />
    @if (mezo.invalid) {
    <mat-error>Mezomorphy must be in range from 0 to 8.</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ectomorphy</mat-label>
    <input
      matInput
      placeholder="Ectomorphy"
      formControlName="ecto"
      type="number"
      min="0"
      max="8"
      step="0.01"
      required
    />
    @if (ecto.invalid) {
    <mat-error>Ectomorphy must be in range from 0 to 8.</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Series Symbol</mat-label>
    <mat-select matNativeControl formControlName="symbol" required>
      <mat-option value="circle">Circle</mat-option>
      <mat-option value="triangle">Triangle</mat-option>
      <mat-option value="square">Square</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Series Color</mat-label>
    <mat-select matNativeControl formControlName="fillColor" required>
      <mat-option value="blue">Blue</mat-option>
      <mat-option value="orange">Orange</mat-option>
      <mat-option value="purple">Purple</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button type="submit" [disabled]="athleteForm.invalid">
    <mat-icon>save</mat-icon>
  </button>
</form>
